*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/*commons*/
body{
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: white;
}

.btn{
    text-decoration: none;
    border: 1px solid;
    border-radius: 7px;
    padding: 3px;
}
.task{
    padding-left: 40px;
    padding-bottom: 50px;
}
ul{
    list-style: none;
}
.check{
    color: green;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
    margin-right: 10px;
    border: 1px solid green;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.cross{
    color: red;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
    margin-right: 10px;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.margin-top-25{
    margin-top: 25px;
}
.etichetta{
    color: white;
    padding: 5px;
    font-size: 10px;
    border-radius: 12px;
    padding: 5px 10px;
}
.padding-scritta-1{
    padding-top: 10px;
}
.padding-scritte{
    padding-top: 20px;
}
/*fine commons*/
/*header*/
header{
    background-color: white;
}
h1{
    padding: 10px;
}
/*main*/
.top{
    padding: 10px 40px;
}
.btn-add-task{
    background-color: #14aaf5;
    color: white;
    padding: 3px;
}
.btn-add-section{
    color: #cfd5d9;

}
.new-task{
   padding-top: 20px;
   font-size: large;
   font-weight: bolder;
}
.font-size{
    font-size: large;
    font-weight: bolder;
}
.editorial{
    border: 5px 1px solid #14aaf5;
    background-color: #14aaf5 ;
}
.q1-goals{
    border: 5px 1px solid #ab5de6;
    background-color: #ab5de6 ;
}
.recruiting{
    border: 5px 1px solid #2cc6ab;
    background-color: #2cc6ab ;
}
.mobile{
    border: 5px 1px solid #ff9b00;
    background-color: #ff9b00 ;
}
.website{
    border: 5px 1px solid #ec4a9d;
    background-color: #ec4a9d ;
}
.sales{
    border: 5px 1px solid #a3d117;
    background-color: #a3d117 ; 
}